.navbar {
    padding: 0;
    margin: 0;
}

.proyectName {
    cursor: default;
}

.navig {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

.item p {
    font-family: Arial;;
    text-decoration: none;
    font-size: 120%;
    display: block;
    text-align: center;
    padding: 15px 27px;
    text-decoration: none;
    color: #fff;
}

.item a {
    display: block;
    text-align: center;
    padding: 15px 27px;
    text-decoration: none;
    color: #fff;
    font-family: Arial;
}

.item  {
    float: left;
}

.item a:hover{
    background-color: #474747;
}

.active {
    background-color: #1D1D1D;
    color: #713F3F; 
}